<p id="notice"><%= notice %></p>

<h1>Estoques</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Veiculo</th>
      <th>Chave</th>
      <th>Funciona</th>
      <th>Data entrada</th>
      <th>Banco</th>
      <th>Responsavel entrada</th>
      <th>Reboque</th>
      <th>Cidade</th>
      <th>Tipo entrada</th>
      <th>Data saida</th>
      <th>Responsavel saida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estoques.each do |estoque| %>
      <tr>
        <td><%= estoque.cliente %></td>
        <td><%= estoque.veiculo %></td>
        <td><%= estoque.chave %></td>
        <td><%= estoque.funciona %></td>
        <td><%= estoque.data_entrada %></td>
        <td><%= estoque.banco %></td>
        <td><%= estoque.responsavel_entrada %></td>
        <td><%= estoque.reboque %></td>
        <td><%= estoque.cidade %></td>
        <td><%= estoque.tipo_entrada %></td>
        <td><%= estoque.data_saida %></td>
        <td><%= estoque.responsavel_saida %></td>
        <td><%= link_to 'Show', estoque %></td>
        <td><%= link_to 'Edit', edit_estoque_path(estoque) %></td>
        <td><%= link_to 'Destroy', estoque, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estoque', new_estoque_path %>
