<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @frotum.modelo %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @frotum.placa %>
</p>

<p>
  <strong>Renavan:</strong>
  <%= @frotum.renavan %>
</p>

<p>
  <strong>Tipo entrada:</strong>
  <%= @frotum.tipo_entrada %>
</p>

<p>
  <strong>Interno:</strong>
  <%= @frotum.interno %>
</p>

<%= link_to 'Edit', edit_frotum_path(@frotum) %> |
<%= link_to 'Back', frota_path %>
