<%= form_with(model: estoque_reboque, local: true) do |form| %>
  <% if estoque_reboque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estoque_reboque.errors.count, "error") %> prohibited this estoque_reboque from being saved:</h2>

      <ul>
      <% estoque_reboque.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :estoque_id %>
    <%= form.text_field :estoque_id %>
  </div>

  <div class="field">
    <%= form.label :reboque_id %>
    <%= form.text_field :reboque_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
