<p id="notice"><%= notice %></p>

<h1>Estoque Reboques</h1>

<table>
  <thead>
    <tr>
      <th>Estoque</th>
      <th>Reboque</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estoque_reboques.each do |estoque_reboque| %>
      <tr>
        <td><%= estoque_reboque.estoque %></td>
        <td><%= estoque_reboque.reboque %></td>
        <td><%= link_to 'Show', estoque_reboque %></td>
        <td><%= link_to 'Edit', edit_estoque_reboque_path(estoque_reboque) %></td>
        <td><%= link_to 'Destroy', estoque_reboque, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estoque Reboque', new_estoque_reboque_path %>
